.sidebar {
    height: 100vh;
    width: 200px;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding: 20px;
    font-weight: 500;
}

.sidebar-box {
    align-items: center;
}

.sidebar-link {
    color: black;
    margin-bottom: 20px;
}

.content {
    height: 100vh;
}

.sidebar-icons {
    max-width: 20px;
    margin-right: 10px;
}

/* .sidebar-entries {
    justify-content: center;
    align-items: center;
} */