 .edit-note-form {
     padding: 15px;
     max-width: 800px;
     border: none;
     background-color: #fff;
 }

 .note-title {
     font-size: 1.2em;
     color: #494949;
 }

 .note-body {
     font-size: 16px;
     border: none;
     outline: none;
     width: 100%;
     resize: none;
 }